body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

/* HERO */
.hero {
  padding: 100px 20px;
  background: linear-gradient(135deg, #2563eb, #7c3aed);
}

.hero h1 {
  font-size: 40px;
}

/* SECTIONS */
section {
  padding: 60px 20px;
}

.problem { background: #111827; }
.solution { background: #0b1220; }
.offre { background: #111827; }
.prix { background: #0b1220; }
.contact { background: #1e293b; }

/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  background: #22c55e;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
}

.btn:hover {
  background: #16a34a;
}

/* LISTE */
ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
}

/* FOOTER */
footer {
  padding: 20px;
  background: black;
}

.contact {
  background: #111827;
  padding: 60px 20px;
  text-align: center;
}

form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea {
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
}

button {
  padding: 15px;
  background: #25D366;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #1ebe5d;
}

#status {
  margin-top: 15px;
  font-size: 14px;
}

.pricing {
  padding: 60px 20px;
  background: #0b1220;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.card h3 {
  font-size: 22px;
}

.price {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.card ul {
  list-style: none;
  padding: 0;
}

.card li {
  padding: 5px 0;
}

.card button {
  margin-top: 15px;
  padding: 10px 20px;
  background: #22c55e;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.card button:hover {
  background: #16a34a;
}

.popular {
  border: 2px solid #22c55e;
}

.hero-img {
  width: 90%;
  max-width: 400px;
  margin: 20px 0;
  border-radius: 10px;
}
